body {
    --color-back: #EBEBEB;
    --color-title-back: #000;
    --color-title: #ffffff;
    --color-theme: #ff5353;
    --color-text: rgb(67, 66, 66);
    --color-icon-front: #b2c9c3;
    --color-toolbar: #000;
    --color-toolbar-button: white;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-back);
    margin: 0;
}

a{
    text-decoration: none;
  }
#float-hashim img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top:0;
  left: 0;
}
#float-hashim i{
    font-size: 30px;
    color: white;
    position: absolute;
    top:10px;
    left:60px;
  }
  





h1 {
    font-size: large;
    text-align: center;
    background-color: var(--color-title-back);
    color: var(--color-title);
    margin: 0;
    padding: 16px;
    user-select: none;
    -webkit-user-select: none;    
}

span.icon {
    font-family: 'Material Icons';
    display: inline-block;
    font-feature-settings: 'liga';
    margin-bottom: 0px;
    color: var(--color-icon-front);
    font-size: 16px;
    vertical-align: sub; 
    user-select: none;
    -webkit-user-select: none;       
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    margin: 5px;
}

form {
    margin: 16px;
    text-align: center;
}

textarea {
    display: block;
    width: 90%;
    margin: 8px auto;
    height: 60px;
    font-size: 16px;
}

button {
    display: block;
    text-decoration: none;
    background-color: var(--color-toolbar);
    color: var(--color-toolbar-button);
    font-size: 13px;
    padding: 8px 8px;
    line-height: 1;
    margin: 8px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid var(--color-icon-front);
    user-select: none;
    -webkit-user-select: none;
}

#notes {
    flex-flow: column;
    flex-wrap: nowrap;
	align-items: stretch;
    align-content: center;
	justify-content: space-evenly;
    padding-bottom: 50px;
    color: var(--color-text);
}

#notes li {
    margin-bottom: 16px;
    border-top: 2px dotted var(--color-title-back);
    padding-top: 8px;
}

#toolbar {
    flex-wrap: wrap;
	align-items: stretch;
    align-content: center;
    justify-content: space-evenly; 
}

body>#toolbar {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: var(--color-toolbar);
}

@media (display-mode: standalone), (display-mode: minimal-ui) {
    body>#toolbar {
        padding: env(safe-area-inset-top) 
            env(safe-area-inset-right) 
            env(safe-area-inset-bottom) 
            env(safe-area-inset-left) !important;
    }

    #itemInstall {
        display: none;
    }
}


img {
    max-width: 100%;
    display: block;
  }
  ul {
    list-style: none;
  }
  
  /* Utilities */
  .card::after,
  .card img {
    border-radius: 50%;
  }
 
  .card,
  .stats {
    display: flex;
  }
  
  .card {
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    max-width: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    margin: 20px auto;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    animation-name:Hashimprop;
    animation-duration: 1s;
  }

  @keyframes Hashimprop {
    from {max-width: 100px;}
    to {max-width: 500px;}
  }



  .card::before,
  .card::after {
    content: '';
    position: absolute;
    z-index: -1;
  }
  .card::before {
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 10px;
    top: -.7rem;
    left: -.7rem;
  }
  .card::after {
    height: 15rem;
    width: 15rem;
    background-color: #000000;
    top: -8rem;
    right: -8rem;
    box-shadow: 2rem 6rem 0 -3rem #FFF
  }
  
  .card img {
    width: 8rem;
    min-width: 80px;
    box-shadow: 0 0 0 5px #FFF;
  }
  
  .infos {
    margin-left: 1.5rem;
  }
  
  .name {
    margin-bottom: 1rem;
  }
  .name h2 {
    font-size: 1.3rem;
  }
  .name h4 {
    font-size: .8rem;
    color: #333
  }
  
  .text {
    font-size: .9rem;
    margin-bottom: 1rem;
  }
  
  .stats {
    margin-bottom: 1rem;
  }
  .stats li {
    min-width: 5rem;
  }
  .stats li h3 {
    font-size: .99rem;
  }
  .stats li h4 {
    font-size: .75rem;
  }
  
  .links button {
    font-family: 'Poppins', sans-serif;
    min-width: 120px;
    padding: .5rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
  }
  .links .follow,
  .links .view:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
  }
  .links .view,
  .links .follow:hover{
    background-color: transparent;
    color: #222;
  }
  
  @media screen and (max-width: 450px) {
    .card {
      display: block;
    }
    .infos {
      margin-left: 0;
      margin-top: 1.5rem;
    }
    .links button {
      min-width: 100px;
    }
  }
  





  .color-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  
nav{
    text-align: center;
    background-color: rgb(216, 29, 29);
    width:100%;
  }
  
  #logo{
    margin: 0 auto;
    height:60px;
    width:160px;
  }
  
  .img-wrapper{
    display: inline-block;
  }
  
  #watch{
    margin: 0 auto;
    height:300px;
    width: 300px;
  }
  
  .main{
    display:flex;
    flex-direction:row;
    text-align: left;
    margin: 0px auto;
    padding: 24px;
  }
          
  #title-wrapper{
    padding: 0 24px;
  }
  
  #desc{
    color: rgb(116, 109, 109);
  }
  
  #heartRate,#time-text{
    margin:0;
    padding:0 24px;
  }
  
  #heartRate{
    display:none;
  }
  
  #color-wrapper{
    padding: 0 24px;
  }
  
  
  #features-wrapper{
    padding: 0 24px;
  }
  
  #color-1,#color-2,#color-3,#color-4{
    height: 40px;
    width:50px;
    border: none;
    border-radius: 8px;
  }
  
  #color-1{
    background-color: #23211f;
  }
  
  #color-2{
    background-color: #ca3d22;
  }
  
  #color-3{
    background-color: #565681;
  }
  
  #color-4{
    background-color: #e9c7be;
  }
  
  #time,#heart-rate{
    padding: 8px;
    border: none;
    border-radius: 8px;
  }
  
  #buynow-wrapper{
    padding: 0 24px;
  }
  
  #buy-now{
    background-color: orangered;
    padding: 8px;
    border: none;
    border-radius: 8px;
  }
  
  @media only screen and (max-width: 610px) {
    .img-wrapper{
      display: inline-block;
      width: 100%;
    }
                  
    #watch{
      margin: 0 20%;
      height:300px;
      width: 300px;
      margin-bottom: 18px;
    }
  
    .main{
      display:flex;   
      flex-direction:column;
      text-align: left;
      margin: 0px auto;
      padding: 24px;
    }
  }
  
                
  @media only screen and (max-width: 500px) {
    .img-wrapper{
      display: inline-block;
      width: 100%;
    }
                  
    #watch{
      margin: 0 10%;
      height:280px;
      width: 280px;
      margin-bottom: 18px;
    }
  
    .main{
      display:flex;   
      flex-direction:column;
      text-align: left;
      margin: 0px auto;
      padding: 24px;
    }
  }
  

  footer{
      text-align: center;
  }
  .love{
      color: red;
  }

  h4{
      font-size: 2rem;
     
  }
